.general{
    border-radius: 5px;
 }

.form{
    margin: 0px 500px 0px 500px;
    padding: 0px 100px 0px 100px;
    height: 500px;
    width: 250px;
}

 #my-text{
     margin: 10px 0px 0px 20px;
 }

 #my-table,th,td{
     margin: 10px 0 20px 20px;
     width: 200px;
     height: 50px;
     text-align: center;
     border: 1px solid black;
     border-collapse: collapse;
 }
 .next-page{
    margin: 0 25px 10px;
 }
.next-page > a{
    padding: 0 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
}
 .show{
     margin: 10px 0 20px 20px;
 }